[Unit]
Description=temperature_logger
After=network.target

[Service]
Type=simple
User=temperature_logger
WorkingDirectory=/opt/temperature_logger
ExecStart=npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target